<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <a href="/" style="position: absolute; top: 10px; left: 10px; font-size: 20px; text-decoration: none;">EliteUpload</a>

    <h2>Register</h2>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>